#about.modal.fade(tabindex='-1', role='dialog', aria-labelledby='about', aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') &times;
              span.sr-only Close
            img(src='/images/logo.png', style='height:27px')
          .modal-body
            dl.dl-horizontal.dl-horizontal-lg
              dt Version
              dd #{mconnenv.version}
            dl.dl-horizontal.dl-horizontal-lg
              dt App ID
              dd #{mconnenv.MCONN_ZK_PATH}
              dt Leader
              dd #{mconnenv.masterdata.serverdata.ip + ":" + mconnenv.masterdata.serverdata.port}
            hr
            dl.dl-horizontal.dl-horizontal-lg
              dt Hostname
              dd #{mconnenv.MCONN_HOST}
              dt Path
              dd #{mconnenv.MCONN_PATH}
            hr
            dl.dl-horizontal.dl-horizontal-lg
              dt Queue Timeout
              dd #{mconnenv.MCONN_QUEUE_TIMEOUT}
              dt Module Sync Time
              dd #{mconnenv.MCONN_MODULE_SYNC_TIME}
            hr
            dl.dl-horizontal.dl-horizontal-lg
              dt Module Path
              dd #{mconnenv.MCONN_MODULE_PATH}
              dt Module Prepare
              dd #{mconnenv.MCONN_MODULE_PREPARE}
              dt Module Start
              dd #{mconnenv.MCONN_MODULE_START}
            hr
            dl.dl-horizontal.dl-horizontal-lg
              dt Marathon Hosts
              dd #{mconnenv.MCONN_MARATHON_HOSTS}
              dt Marathon SSL
              dd #{mconnenv.MCONN_MARATHON_SSL}
            hr
            dl.dl-horizontal.dl-horizontal-lg
              dt Zk
              dd zk://#{mconnenv.MCONN_ZK_HOSTS}#{mconnenv.MCONN_ZK_PATH}
              dt Zk Hosts
              dd #{mconnenv.MCONN_ZK_HOSTS}
              dt Zk Path
              dd #{mconnenv.MCONN_ZK_PATH}
              dt Zk Session Timeout
              dd #{mconnenv.MCONN_ZK_SESSION_TIMEOUT}
              dt Zk Spin Delay
              dd #{mconnenv.MCONN_ZK_SPIN_DELAY}
              dt Zk Connection Retries
              dd #{mconnenv.MCONN_ZK_RETRIES}
